.detailsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsContainer h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.infoContainer {
    margin-bottom: 30px;
}

.infoContainer p {
    font-size: 1rem;
    margin: 10px 0;
    color: #555;
}

.infoContainer strong {
    color: #333;
    font-weight: bold;
}

.infoContainer span {
    margin-left: 10px;
    color: #777;
}

.active {
    color: green;
}

.inactive {
    color: red;
}

.buttonsContainer {
    display: flex;
    gap: 15px;
}

.buttonBack, .buttonEdit {
    height: 3em;
    width: 8em;
    border-radius: 25px;
    font-size: 12pt;
    box-shadow: 0px 6px 7px #acacac;
    border: none;
    margin: 1.5em;
}

.buttonBack {
    background-color: #848484;
    color: white;
}

.buttonBack:hover {
    background-color: #848484;
}

.buttonEdit {
    background-color: #4CAF50;
    color: white;
}

.buttonEdit:hover {
    background-color: #4CAF50;
}
